/* FONTE OPEN SANS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
}

/* HEADER */

header{
    border-top: 5px solid #447ED6;
}

.conteudo-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px ;
}

.menu-site{
    display: flex;
    gap: 30px;
}

.menu-site a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
}

.menu-site pagina-selecionada{
    color: #447ED6;
}

.menu-site a:hover{
    color:#447ED6;
    text-decoration: underline;
}

div a.pagina-selecionada{
    color: #447ED6;
}

/* MAIN */

main{
    background-color: black;
    color: white;
}

.banner img{
    width: 100%;
}

.conteudo-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 350px 30px 450px 30px;
}

.formulario-p1{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.titulo{
    justify-content: left;
}

.formulario-p2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.formulario-p2 h1{
    font-size: 2em;
}

.campo-titulo{
    font-weight: bold;
    margin-bottom: 20px;
}

.campo-resposta{
    margin-bottom: 20px;    
}

.campo-resposta textarea{
    color: white;
    background-color: #000000;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    width: 600px;
    height: 100px;
    resize: none;
}

.campo-resposta input{
    color: white;
    background-color: #000000;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    width: 600px;
}

.botao-enviar{
    text-align: center;
}

.botao-enviar button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #447ED6;
    color: white;
    border: none;
}


/* FOOTER */

footer{
    border-top: 5px solid #447ED6;
    border-bottom: 5px solid #447ED6;
    padding: 20px 0px ;
    font-weight: 600;
}

.conteudo-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    
}

.footer-esquerda{
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-direita{
    display: flex;
    align-items: center;
    gap: 30px
}

.mapa-site{
    display: flex;
    gap: 30px;
    align-items: center;
}

.mapa-site a{
    text-decoration: none;
    color: black;
}

.mapa-site a:hover{
    color: #447ED6;
    text-decoration: underline;
}

.redes-sociais{
    display: flex;
    gap: 10px;
}

.footer-direita img{
    width: 30px;
}

.footer-direita img:hover{
    width: 10px;
}

/* RESPONSIVIDADE */ 

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px){

/* HEADER */

.logo-header img{
    width: 65px;
}

.menu-site a{
    font-size: 1.25em;
}

.linguagem img{
    width: 60px;
}


/* MAIN */

.campo-resposta textarea{
    width: 300px;
}

.campo-resposta input{
    width: 300px;
}

.botao-enviar button{
    width: 150px;
}

.formulario-p2 h1{
    font-size: 1.5em;
}

.sociais img{
    width: 70px;
}

/* FOOTER */

.direitos{
    font-size: 0.6em;
}

.redes-sociais img{
    width: 20px;
}

}

/* CELULAR */
@media screen and (min-width: 500px) and (max-width: 767px){

/* HEADER */

.logo-header img{
    width: 35px;
}

.menu-site a{
    font-size: 0.9em;
}


.linguagem img{
    width: 40px;
}


/* MAIN */

.conteudo-main{
    display: grid;
    grid-template-columns: 1fr;
    padding: 150px 30px;
    gap: 100px;
}

.campo-resposta textarea{
    width: 300px;
}

.campo-resposta input{
    width: 300px;
}

.botao-enviar button{
    width: 150px;
}

.formulario-p2 h1{
    font-size: 1.5em;
}

.sociais img{
    width: 70px;
}

/* FOOTER */

.conteudo-footer{
    padding: 0 15px;
}

.direitos{
    font-size: 0.5em;
}

.mapa-site{
    width: 180px;
}

.footer-direita{
    justify-content: flex-start;
    gap: 15px;
}

.mapa-site{
    gap: 10px;
}

.mapa-site a{
    font-size: 0.8em;
}

.footer-esquerda{
    justify-content: flex-end;
    gap: 15px;
}

.footer-esquerda img{
    width: 25px;
}

.redes-sociais{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.redes-sociais img{
    width: 15px;
}

}

/* CELULAR MENOR*/
@media screen and (max-width: 500px){

/* HEADER */

.logo-header img{
    width: 35px;
}

.menu-site{
    gap: 10px;
}

.menu-site a{
    font-size: 0.75em;
}


.linguagem img{
    width: 30px;
}


/* MAIN */

.conteudo-main{
    display: grid;
    grid-template-columns: 1fr;
    padding: 150px 30px;
    gap: 100px;
}

.campo-resposta textarea{
    width: 300px;
}

.campo-resposta input{
    width: 300px;
}

.botao-enviar button{
    width: 150px;
}

.formulario-p2 h1{
    font-size: 1em;
}

.sociais img{
    width: 50px;
}

/* FOOTER */

.conteudo-footer{
    padding: 0 10px;
    gap: 5px;
}

.direitos{
    font-size: 0.5em;
}

.mapa-site{
    width: 180px;
}

.footer-direita{
    justify-content: flex-start;
    gap: 10px;
}

.mapa-site{
    gap: 5px;
}

.mapa-site a{
    font-size: 0.75em;
    text-align: center;
    margin: auto;
}

.footer-esquerda{
    justify-content: flex-end;
    gap: 10px;
}

.footer-esquerda img{
    width: 25px;
}

.redes-sociais{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.redes-sociais img{
    width: 15px;
}


}